@import url('./reset.css');
@import url('./typography.css');
@import url('./common.css');

#welcome {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

#search-bar {
  padding: 1rem;
  display: flex;
  gap: 0.5rem;

  > * {
    padding: 1rem;
    background-color: var(--grey-2);
    border-radius: 1rem;
  }

  #search-field {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-grow: 1;

    img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

#shortcuts {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;

  > button {
    border-radius: 9999px;
    background-color: var(--grey-2);
    width: 80px;
    height: 80px;

    display: flex;
    gap: 0.25rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > img {
      width: 1.5rem;
    }
  }
}

.section {
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;

  .left {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    svg {
      width: 2rem;
      height: 2rem;
    }
  }
}

.section-content {
  padding: 0 1rem;
}

#vouchers .section-content,
#hotProducts .section-content,
#suggestions .section-content {
  display: flex;
  gap: 0.75rem;
  overflow-x: hidden;
}

#categories .section-content {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.voucher {
  width: 280px;
  height: 100px;
  flex-shrink: 0;
  position: relative;
  display: flex;
  border-radius: 0.5rem;
  overflow: hidden;
  border-width: 1.5px;
  border-style: dashed;
  border-color: var(--black);

  .tag {
    position: absolute;
    background-color: var(--orange);
    color: white;
    width: 94px;
    height: 58px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 1.5rem 10px 4px;
    transform: rotate(-45deg);
    top: -16px;
    left: -35px;
  }
}

.voucher-text {
  padding: 0.5rem;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 0.5rem;

  .bar {
    height: 4px;
    width: 70%;
    background-color: var(--orange);
    flex-shrink: 0;
  }

  .voucher-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > button {
      border-radius: 8px;
      border: 2px solid var(--black);
      padding: 0.25rem 0.5rem;
      width: 86px;
      display: inline-block;
      text-align: center;
    }
  }
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.scrollUp {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0;
}

nav {
  position: sticky;
  background-color: white;
  width: 100%;
  bottom: 0;
  padding: 0.5rem 1rem;
  box-shadow: var(--sticky-shadow);

  > div {
    display: flex;
    margin: auto;
    max-width: 600px;
    justify-content: space-between;

    button {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.25rem;
      padding: 0.5rem 0;

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    span {
      text-align: center;
    }
  }
}
